*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
/* HEADER START */
header{
    width: 100%;
    background-color:#0084fd ;
}

#header-container{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: 10px;
    color: white;
}

#header-container ul{
    display: flex;
    gap: 20px;


    list-style: none;
    align-items: center;

}

#button-header{
    background-color: white;
    color: black;
    padding: 5px 20px;
    border-radius: 15px;
}

#header-container i{
    display: none
}
/* HEADER END */

/* SECTION 1 START */

#sect-1{
    margin-top: 50px;
    width: 100%;
    display: flex;
}

#container-sect1{
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;}


.card{
    background-color:#b5ddff ;
    border-radius: 20px;
    padding:30px ;

    color: #0084fd;

}

#card-2box{
    display: flex;
    width: calc((100%/3) * 2);
    margin-bottom: 20px;
}

#card-2box-textcontainer{
    width: 50%;
    
   

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.card p{
    color: rgb(49, 42, 42);
    font-weight: 700;
}

#card-2box img{
    width: 50%;
    max-height: 100%;
    position: relative;
    bottom: -30px;
    
}
/* BOX PICCOLI */
.box-1{
    width: calc((100% / 3) - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    aspect-ratio: 1;
    padding: 50px;
}

.box-1 i{
   font-size: 7rem;
   color: #0084fd;
}

/* SECTION 1 END */

/* SECTION 2 START */

#sect-2{
    margin-top: 50px;
    width: 100%;
    display: flex;

    background-color:#9792e4 ;

    padding-block: 5%;
}

#container-sect2{
    width: 40%;
    margin: auto;

    display: flex;
    
    padding: 20px;
}

#left-sect2{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;

    padding-inline: 30px;
}

#left-sect2 #text-left-sect2{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: white;
}

#left-sect2 #text-left-sect2 h3{
    font-size: 30px;
    

}

#left-sect2 img{
    width: 100%;
}

#right-sect2{
    width: 50%;
    background-color: white;
    padding: 30px;
    margin-top: 20%;
    border-radius: 20px;
}


#right-sect2 img{
    width: 100%;
}

#right-sect2 #text-right-sect2{
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#right-sect2 #text-right-sect2 p{
    font-style: italic;
}

#right-sect2 #text-right-sect2 i{
   background-color:#9792e4 ;
   
   margin: auto;
    font-size: 15px;
   padding: 15px;
   border-radius: 50%;
}

/* SECTION 2 END */

/* SECTION 3 START */

#container-sect3{
    width: 60%;
    margin: auto;
    /* margin-top: 40px; */
    padding-block: 50px;

    display: flex;
    flex-direction: column;
    gap: 20px;

}

#header-sect3{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

#header-sect3 h2{
    color:#9792E4 ;
    
}

#header-sect3 span{
    text-transform: uppercase;
}

.testimonial-card-sect3{
    background-color:#9792e4 ;
    display: flex;
    padding: 20px;
    border-radius: 2em;
}

.testimonial-card-sect3 img{
    width: 150px;
    height: 150px;

    object-fit: cover;

    border-radius: 60%;

}

.card-text-sect3{
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    gap: 25px;

    color: white;
}

.card-text-sect3 :last-child{
    text-transform: uppercase;
}

/* SECTION 3 END */

/* SECTION 4 START */


/* SECTION 4 END */


/* MEDIA QUERIES TABLET */

@media screen and (max-width: 768px){
    /* header media queries */
    header{
        width: 100%;
        padding-inline: 20px;
    }

    #header-container{
        width: 100%;
    }

    #header-container ul{
        display: none;
    }

    #header-container i{
        display: inline;
        font-size: 30px;
    }
    /* end header media queries */

    /* section1 media queries */
    #sect-1 #container-sect1{
        width: 100%;
        padding: 40px;
    }

    #card-2box{
        display: flex;
        flex-direction: column;
    }

    #card-2box-textcontainer{
        width: 100%;
        gap: 20px;
    }

    #card-2box img{
        height: 80%;
        width: 80%;
        
    }

    .box-1{
        gap: 30px;
        text-align: center;
    }
    /* end section1 media queries */



    /* section2 media queries */
    #container-sect2{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 40px;
    }

    #left-sect2{
        width: 100%;
        font-size: 30px;
        padding: 0;
    }

    
    #left-sect2 #text-left-sect2 h3{
       font-size: 60px;
    }

    #right-sect2{
        width: 100%;
        font-size: 30px;
    }
    /* end section2 media queries */

    /* start section3 media queries */

    #container-sect3{
        width: 100%;
        padding: 40px;
    }

    #container-sect3 #header-sect3 h2{
        font-size: 40px;
    }

    #container-sect3 #header-sect3 p{
        font-size: 20px;
    }

    #container-sect3 .testimonial-card-sect3{
        font-size: 20px;
    }

    #container-sect3 img{
        align-self: center;
    }
    
    /* end section3 media queries */
}

/* MEDIA QUERIES MOBILE */

@media screen and (max-width: 480px){
    /* header media queries */
    header{
        font-size: 30px;
    }
    /* end header media queries */

    /* section1 media queries */
    
    #sect-1 #container-sect1{
        width: 100%;
        padding: 30px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card,
    #card-2box{
        width: 100%;
    }
    /* end section1 media queries */

    /* section 3 media queries */

    .testimonial-card-sect3{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /* end section 3 media queries */
}

